@font-face {
    font-family: R_l;
    src: url('../media/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: R_r;
    src: url('../media/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: R_m;
    src: url('../media/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: R_b;
    src: url('../media/fonts/Roboto-Bold.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    user-select: none;
}
body{
    width:100vw;
    min-height:100vh;
    background:#121212;
    overflow-y: hidden;
}

.header__logo{
    position: absolute;
    z-index: 5;
    margin:40px 0 0 80px;
}
.right__side{
    height:100vh;
    width:100vw;
}
.photo{
    width: 1173px;
    height: 1080px;
    position: relative;
    float: right;
    background-image: url("../media/programm.jpg") ;
    background-repeat: no-repeat;
    background-position: 100% 0%; 

}
.photo::before{
    z-index: 2;
    position: absolute;
    content: '';
    top:-100px;
    left:-100px;
    width:226px;
    height:1173px;
    background:#121212;
    transform: rotateZ(10.5deg);

}


.left__side{
    position: absolute;
    z-index: 3;
    top:0;
    left:0;

    /* max-width:400px; */

    padding: 391px 0 0 360px;
}

.left__side article .large p{

    font-family: R_b;
    font-style: normal;
    font-size: 64px;
    line-height: 75px;

    color: #FFFFFF;


}

.left__side article .small p{
    font-family: R_r;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}


.left__side .btn{
    width: 166px;
    height: 48px;

    background: #FFFFFF;
    border-radius: 4px;

    text-align: center;

    margin:46px 0 0 0;
}
.left__side .btn p{
    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;

    color: #000000;


}