@font-face {
    font-family: R_l;
    src: url('../media/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: R_r;
    src: url('../media/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: R_m;
    src: url('../media/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: R_b;
    src: url('../media/fonts/Roboto-Bold.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    user-select: none;
}
body{
    width:100vw;
    min-height:100vh;
    /* background:#121212; */
    /* overflow-y: hidden; */
}

.header__logo{
    position: absolute;
    z-index: 5;
    margin:40px 0 0 80px;
}
.page__one__screen{
    width:100vw;
    height: 100vh; 
    overflow: hidden;
}
.page__more__screen{
    width:100vw;
    min-height: 100vh; 
    overflow: hidden;
}
.page__first{
    background:#121212;
}

.max-width-of-pages{
    width:65%;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
}

/* .right__side{
    height:100vh;
    width:100vw;
} */
.mask{
    width:387px;
    height:387px;
    overflow:hidden;
}
.photo2{
    width: 1173px;
    height: 1080px;
    position: relative;
    left: 0;
    float: right;
    /* background-image: url("../media/programm.jpg") ; */
    background-repeat: no-repeat;
    background-position: 100% 0%; 

}
.photo2::before{
    z-index: 2;
    position: absolute;
    content: '';
    top:-100px;
    left:-100px;
    width:226px;
    height:1173px;
    background:#121212;
    transform: rotateZ(10.5deg);

}



@media (max-width:1200px){
    .left__side{
        position: absolute;
        z-index: 5;
        top:0;
        left:0;
        margin: 24vh 50vw;
        transform: translateX(-50%);
    }
    .left__side article .large p{
        margin:0 0 12px 0;
    }
}

@media (min-width:1201px){
    .left__side{
        position: absolute;
        z-index: 5;
        top:0;
        left:0;
        width: 1200px;
        margin: 36vh 50vw;
        transform: translateX(-50%);
    }

    .left__side article .large p{

        width:375px;
        height:150px;
        margin:0 0 12px 0;
    }
}

.left__side article .large p{

    font-family: R_b;
    font-style: normal;
    font-size: 64px;
    line-height: 75px;

    color: #FFFFFF;


}

.left__side article .small p{
    font-family: R_r;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}


.left__side .btn{
    width: 166px;
    height: 48px;

    background: #FFFFFF;
    border-radius: 4px;

    text-align: center;

    margin:32px 0 0 0;
}
.left__side .btn p{
    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;

    color: #000000;


}

.bottom__side{
    position: absolute;
    bottom: 40px;
    margin:0 50%;


    transform:translateX(-50%);
}


.border__arrow{
    width: 44px;
    height: 44px;

    border-radius: 50%;

    border: 2px solid rgba(255, 255, 255, 0.75);
}

.arrow{
    width: 16px;
    height: 11px;
    background-image: url('../media/arrow_down.png');

    margin: 16.5px auto;

    animation: arrow__fade 1.5s infinite;
}

@keyframes arrow__fade {
    0%{
        margin: 16.5px auto;
    }


    50%{
        margin: 23px auto;
    }

    100%{
        margin: 16.5px auto;
    }
}



.page__second{
    background:#0B0B0B;
    padding: 223px 0 225px 0 ;
}

.page__second header{
    
}

.fixed__menu nav{
    width:1200px;
    height:inherit;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.fixed__menu{
    display:none;
    position: fixed;
    top:0;
    z-index:5;

    width:100vw;
    height:64px;
    background:#151515;
}
.nav__right{
    
}

.information__page ,.burger__menu{
    float: left;
    
}

.information__page{
    display: flex;
    margin:0 24px 0 0;
}

.number__inf{

    font-family: R_l;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
line-height: 12px;

    color: rgba(255, 255, 255, 0.5);

    transform: rotate(-90deg);
    padding: 0 5px 0 0;
}
.dash{
    display: inline-block;
    width:1px;
    height: 10px;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    margin:6px 0 0 0;
}

.dash__large__title{
    width: 64px;
    height: 0px;

    margin: 30px 0;

    border: 2px solid rgba(255, 255, 255, 0.27);
}

.dash__large__text__number{
    width: 0px;
    height: 64px;
    border: 1px solid #FFFFFF27;
}
.text__inf{

    font-family: R_r;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;

    color: rgba(255, 255, 255, 0.5);

    margin: 4px 0 0 12px;
}

.burger__menu{

    margin:5px 0;
    height:14px;
    width:27px;


}

.line__burger{
    height: 2px;

    background: #FFFFFF;
    border-radius: 4px;
    display: block;
}


.l__t{
    width: 14px;
}

.l__m{
    width: 18px;
    margin:4px 0 4px 9px;
}

.l__b{
    width: 18px;
}
/* .content__second{
    width:100%;
} */

@media (max-width:1500px){
    .left__content{
        /* max-width: 425px; */
        margin:0 auto;
        /* margin:120px 0 0 0; */
    }
    .right__content{
        margin:56px 0 0 0;
        max-width: 400px;
        
    }
}
@media (min-width:1501px){
    .left__content{
        max-width: 425px;
        /* margin:120px 0 0 0; */
    }
    .left__content,.right__content{
        float: left;
    }
    .right__content{
        margin:56px 0 0 185px;
        max-width: 400px;
        
    }
}
.left__content__title p{

    font-family: R_m;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;


}

.left__content__text p{

    font-family: R_l;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 135%;

    color: #FFFFFF;

    text-align: justify;
}




.special_values{
    width:10px;
    height:10px;
    margin:16px 0 0 1px;
}
.right__content_title{
    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;
}
.right__content__text{
    max-height: 500px;
    overflow-y: scroll;
    padding: 0 0 259px 0;
}
.right__content__text .blocks:not(:nth-last-child(1)){
    margin:0 0 104px 0;
}
.r__c__t > .text{
    /* float: left; */
    margin:0 0 0 72px;
}

.r__c__t .title{
    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
    margin: 0 0 16px 0;
}

.r__c__t .main__text{
    font-family: R_l;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
}
.r__c__t > .num p{

    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    
    color: #FFFFFF27;
    transform: rotate(-90deg);
}

.page__third{
    background:#0B0B0B;
}
.more{
    min-height:100vh;
    width:100vw;
    padding: 11.2vh 0 11.1vh 0;
}

.p__t{
    /* width:100%; */
}
.p__t:nth-child(1){
    margin:0px auto 107px auto;
}
.p__t .spec__dash{
    width:40px;
    float: left;
    border: 1px solid #FFFFFF27;
    margin:26px 30px 24px 0px;
    display: none;
    
}
.p__t .top__content{

    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;


}
.p__t  .bottom__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    background: #121212;
    min-height: 220px;

    border-radius: 4px;

    position: relative;
    margin: 0 0 75px 0;
}
@media (max-width:1790px){
    .card{
        width: 100%;
        padding:1rem;
    }
    .card__text p{
        max-width:80%;
    }
}
@media (min-width:1791px){
    .card{
        width: 386px;
    }
    .card:nth-child(4){
        margin-left:17%;
    }
    .card:nth-child(5){
        margin-right:17%;
    }

    .card:nth-child(1) .card__text p{
        width: 265px;
    }
    .card:nth-child(2) .card__text p{
        width: 304px;
    }
    .card:nth-child(3) .card__text p{
        width: 354px;
    }
    .card:nth-child(4) .card__text p{
        width: 322px;
    }
    .card:nth-child(5) .card__text p{
        width: 298px;
    }
}

.card__number{
    position: absolute;
    top:-35px;
    left:50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;

    background: #FFFFFF;
    text-align: center;
    border-radius: 50%;
    border: 3px  solid #0b0b0b;
}

.card__number p{
    font-family: R_b;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 70px;

    color: #000000;
}

.card__title p{
    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
    /* width: 165px; */
    margin:52px auto 10px auto;
}
.card__text p{
    margin:0 auto;
    font-family: R_l;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    
    color: #FFFFFF;
}





/* .page__fourth{
    background:#0B0B0B;
} */
.p__f{
    /* width:100%; */
}
.p__f:nth-child(3){
    margin-top:2.68%;
    margin-bottom:6.66%;
}
.p__f .spec__dash{
    width:40px;
    float: left;
    border: 1px solid #FFFFFF27;
    margin:26px 30px 24px 0px;
    display: none;
    
}
.p__f .top__content{

    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;


}

.p__f .bottom__content{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}



@media (max-width:1821px){
    .FAQ__card{
        width:100%;
        padding: 1rem 0;
        min-height:150px;
    }
}
@media(min-width:1822px){
    .FAQ__card{
        /* width:450px; */
        /* height:300px; */
        margin:0 0 56px 0;
    }
    .FAQ__card:nth-child(even){
        margin-left:13px;
    }
    .FAQ__card:nth-child(1) .title p{
        width: 265px;
    }
    .FAQ__card:not(:nth-child(2)) .text p{
        width: 513px;
    }
    
    .FAQ__card:nth-child(2) .title p{
        width: 258px;
    }
    .FAQ__card:nth-child(2) .text p{
        width: 453px;
    }
    
    .FAQ__card:nth-child(3) .title p{
        width: 248px;
    }
    
    .FAQ__card:nth-child(4) .title p{
        width: 249px;
    }
}



.f_c_right__side .main__value{
    margin: 0 0 0 72px;
    /* float: left; */
}
.f_c_right__side .main__value .title p{
    
    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
    margin:0 0 16px 0;
}

.f_c_right__side .main__value .text p{
    font-family: R_l;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
}

.p__f .btn{

    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 4px;

    text-align: center;

    margin:38px auto 0px auto;
}
/* @media (max-width:350px){} */
@media (min-width:351px){
    .p__f .btn{
        width: 261px;
        height: 48px;
    }
}
.p__f .btn p{
    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin:14px 0 15px 0;
    line-height: 19px;

    color: #000000;
}


.page__service{
    background:#151515 ;
    
}
.p__s{
    /* width:100%; */
    padding-top:13.2vh;
    padding-bottom: 11.1vh;
}

.p__s .top__content p{
    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;
}
.p__s .bottom_content .images{
    margin:4.53% 0 20px 0;
}
@media (max-width:895px) {
    .p__s .bottom_content .images{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .p__s .bottom_content .images .card__service{
        width:100%;
        max-width:357px;
        height:570px;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    
        border-radius: 4px;
        overflow:hidden;

        margin:1rem auto;
        /* background:red; */
    }
}
@media (min-width:895px) {
    .p__s .bottom_content{
        height:59vh;
        max-height:570px;
        
    }
    .p__s .bottom_content .images{
        height:100%;
        max-height:570px;
        display:flex;
        justify-content: space-between;
    }

    .p__s .bottom_content .images .card__service{
        width:29.75%;
        max-width:357px;
        height:100%;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    
        border-radius: 4px;
        overflow:hidden;
        /* background:red; */
    }
    .p__s .bottom_content .images .card__service:not(:nth-child(1)){
        margin: 0 0 0 -76px;
    }
}


.p__s .bottom_content .images .card__service .shadow{
        /* width:29.75%;
        max-width:357px;
        height:100%; */
        height:570px;
    background: #12121250;
    padding: 31.68vh 0 0 0;

    display:block;
}
.p__s .bottom_content .images .card__service .shadow p{
    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;

    margin:0 auto;
    transform: translateY(-50%);
}
.ux{
    background-image: url('../media/service/UX.jpg');
}
.sites{
    background-image: url('../media/service/sites.jpg');
}
.marketing{
    background-image: url('../media/service/marketing.jpg');
}
.everything{
    background-image: url('../media/service/everything.jpg');
}
.ux p{
    width: 111px;
    height: 56px;
}

.sites p{
    width: 132px;
height: 56px;
}

.marketing p{
    width: 177px;
height: 56px;
}

.everything p{
    width: 134px;
height: 56px;
}



@media (max-width:1520px){
    .p__s .bottom_content .btn{
        max-width: 284px;
    
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
    
        text-align: center;
        margin: 0 auto;
    }
    
}

@media (min-width:1521px){
    .p__s .bottom_content .btn{
        width: 23.6%;
        max-width: 284px;
        height: 48px;
    
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
    
        text-align: center;
        margin: 0 auto;
    }
    
}
.p__s .bottom_content .btn p{
    margin:13px 0 15px 0;
    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* identical to box height */

    color: #000000;
}

footer .f__c{
    background:#151515;
    padding: 120px 0;
}
.f__c .top__content{
    display: flex;
}

@media (max-width:800px){
    .f__c .top__content{
        display: flex;
        flex-wrap:wrap;
    }
    .f__c .top__content .social__medies,.contacts,.menu{
        width:100%;
        padding: 1rem;
    }
}

@media (min-width:801px){
    .f__c .top__content{
        display: flex;
        justify-content: space-between;
    }
    .f__c .top__content .social__medies,.menu{
        width:25.25%;
        max-width:303px;
    }

    .f__c .top__content .contacts{
        width:350px;
    }
}
/* .f__c .top__content .contacts{} */

.f__c .top__content .menu{
    /* margin:0 0 0 103px; */
}
.f__c .top__content .title p{
    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
    margin: 0 0 24px 0;
}
.f__c .top__content .main__text{
    width:100%;
}
.f__c .top__content .main__text div{
    margin: 0 0 12px 0;
    width:100%;
    display: block;
    justify-content: space-between;
}
.f__c .top__content .main__text p{
    font-family: R_m;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;

    /* identical to box height */

    color: #FFFFFF;
}

.f__c .contacts .main__text div p:nth-child(1){
    width:74px
}
.f__c .contacts .main__text div p:nth-child(2){
    margin:0  0 0 36px;
}
.ever36 p:nth-child(3){
    margin:0  0 0 36px;
}
footer .madedby{
    background:#101010;
}
footer .madedby p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    
    /* identical to box height, or 160% */
    text-align: center;
    letter-spacing: -0.015em;
    
    color: rgba(255, 255, 255, 0.8);

    margin:0 auto;
}
/* BUILDING */
/* .page__first,.page__second,.page__third, .page__first ,footer{
    display: none;
} */
/* .page__third{
    display:block;
} */
/* BUILDING */


.rotated__num__with__Border{
    width:40px;
    height:64px;


    border-right: 1px solid #ffffff27;

    float: left;
}

.rotated__num__with__Border p{
    transform: rotateZ(-90deg);

    font-family: R_m;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF21;

    
    }